body {
	background-color: #DDDDDE;
}
	
#dog {
	border: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}
header {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #C8C8C8;
	border-radius: 10px;
	box-shadow: 12px 12px 12px #404040;
	text-align: center;
}
	
nav {
	font-family: Georgia, "times new roman", serif;
	font-size: 1.25em;
	font-weight:bold;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border-top: 5px solid #FFFFFF;
	border-bottom: 5px solid #FFFFFF
}
	
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 20px;
}

.equip {
	float: left;
	padding-right: 20px;
}

ul {
	margin-bottom: 50px;
	list-style-position: inside;
}

dt {
	font-weight: bold;
}

dd {
	padding-bottom: 20px;
}


h2 {
	background-color: white;
	width: 320px;
	margin: 20px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-left-style: dotted;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: black;
	border-right-color: black;
	border-left-color: black;
	padding: 10px;
	float: right;
}  
#lefttalldog {
	padding-left: 120px;
}
#righttalldog {
	padding-right: 120px;
}
.circledog {
	margin: 40px auto; 
	display: inline-block;	
}
.circledog img {
	border-radius: 50%;
}

.night {
	float: left;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0px;
}
.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
